@(message: String)

@import helper._

@main(message) {

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@@varunhmurthy">
<meta name="twitter:title" content="About Me">
<meta name="twitter:description" content="Hi I'm Varun Murthy. Technology buff by training and all around knowledge hoarder">
<meta name="twitter:creator" content="">
<meta name="twitter:image:src" content="http://varunmurthy.com/assets/img/profile/KeyWest.jpg">
<meta name="twitter:domain" content="http://www.varunmurthy.com">
<meta name="twitter:app:name:iphone" content="">
<meta name="twitter:app:name:ipad" content="">
<meta name="twitter:app:name:googleplay" content="">
<meta name="twitter:app:url:iphone" content="">
<meta name="twitter:app:url:ipad" content="">
<meta name="twitter:app:url:googleplay" content="">
<meta name="twitter:app:id:iphone" content="">
<meta name="twitter:app:id:ipad" content="">
<meta name="twitter:app:id:googleplay" content="">

<!--=== Content Part ===-->
<div class="container">		

	<div class="headline"><h3>About Me</h3></div>
	<div class="row-fluid margin-bottom-30">
	<div class="span6">
            <div class="thumbnail-style">
                <img src="/assets/img/profile/KeyWest.jpg" alt="" />
	            </div>
   	</div>
    	<div class="span6">
            <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Unify is an incredibly beautiful responsive Bootstrap Template for It works on all major web.</p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
                <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
                <li><i class="icon-ok color-green"></i> Elit non mi porta gravida</li>
                <li><i class="icon-ok color-green"></i> Award winning digital agency</li>
            </ul><br />

        </div>
    </div><!--/row-fluid-->

</div><!--/container-->		
<!--=== End Content Part ===-->
}