@(message: String)(contactForm: Form[(String, String, String)])(implicit flash: Flash)

@import helper._

@main(message) {

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
	<div class="container">
        <h1 class="color-green pull-left">Whereabouts !</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">Contact</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!-- Google Map -->
<div id="map" class="map margin-bottom-40">
</div><!---/map-->
<!-- End Google Map -->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row-fluid">
		<div class="span9">
            <div class="headline"><h3>Contact Me</h3></div>
            <p>@flash.get("success")</p>
            <!-- <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas feugiat. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit landitiis.</p><br /> -->
			<!-- <form action="/contact/newTask" method="post"> -->
			@form(routes.ContactPage.newContact) {
                <label>Name</label>
                <!-- inputText(contactForm("name"), 'type -> "text", 'class -> "span7 border-radius-none", '_label -> "Name") -->
                <input name="name" type="text" class="span7 border-radius-none" />
                <label>Email <span class="color-red">*</span></label>
                <!-- @inputText(contactForm("email"), 'type -> "text", 'class -> "span7 border-radius-none") -->
                <input name="email" type="text" class="span7 border-radius-none" />
                <label>Message</label>
                <!-- @textarea(contactForm("message"), 'rows->"8", 'class->"span10") -->
                <textarea name="message" rows="8" class="span10"></textarea>
                <p><button type="submit" class="btn-u">Send Message</button></p>
            }
             
        </div><!--/span9-->
        
		<div class="span3">
        	<!-- Contacts -->
            <div class="headline"><h3>Contact Info</h3></div>
            <ul class="unstyled who margin-bottom-20">
                <li><a href="#"><i class="icon-envelope-alt"></i>varun.murthy@@gmail.com</a></li>
                <li><a href="#"><i class="icon-phone-sign"></i>(408)-813-6715</a></li>
                <li><a href="http://www.varunmurthy.com"><i class="icon-globe"></i>http://www.varunmurthy.com</a></li>
            </ul>

        </div><!--/span3-->
    </div><!--/row-fluid-->        

</div><!--/container-->		
<!--=== End Content Part ===-->

}